<!DOCTYPE html>
<html ng-app="PhysicsUnitConversions">
<head>
    <title>Physics Unit Conversions</title>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script type="text/javascript" src="decimal.min.js"></script>
    <script type="text/javascript" src="test_framework.js"></script>
    <script type="text/javascript" src="input_parsing.js"></script>
    <script type="text/javascript" src="numbers.js"></script>
    <script type="text/javascript" src="units.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
    <div class="mainpage" ng-controller="UnitConversionController">
        <h1>Physics Unit Conversions</h1>
        <p class="instructions">Type in the value you want to convert with its units. The app will automatically parse what you type, and try to interpret the units. Then it will convert that value into all of the common units that it can be expressed in.</p>
        <input type="text" class="maininput" ng-model="mainInput" placeholder="12 km" />
        <div class="inputinformation">
            <div class="table" ng-style="(mostLikelyUnit == null) ? {'visibility': 'hidden'}:{};">
                <div class="table-row">
                    <div class="table-row-label" style="margin-bottom:-2px;"><span style="display: inline-block; padding:2px 0px;">{{(otherUnits.length > 0) ? 'Most likely unit:' : 'Unit:';}}</span></div>
                    <div class="table-row-value">
                        <span style="font-weight:normal;">{{mostLikelyUnit.pluralName.toLowerCase()}} ({{mostLikelyUnit.symbol}})</span>
                        <span ng-show="mostLikelyUnit.isMetric" class="tag metric">Metric</span>
                        <span class="tag" style="background-color: {{mostLikelyUnit.quantity.colour}}" title="This unit is a measure of {{mostLikelyUnit.quantity.name.toLowerCase()}}.">{{mostLikelyUnit.quantity.name}}</span>
                    </div>
                </div>
                <div class="table-row" ng-style="( otherUnits.length == 0) ? {'display': 'none'}:{};">
                    <div class="table-row-label">Other possible units:</div>
                    <div class="table-row-value">
                        <span ng-repeat="unit in otherUnits" style="font-weight:normal;">
                            <span ng-show="$index > 0">, </span>
                            {{unit.pluralName.toLowerCase()}} ({{unit.symbol}})
                        </span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-row-label">Number of significant figures:</div>
                    <div class="table-row-value" style="font-weight: normal;">{{identifiedNumberOfSignificantFigures}}</div>
                </div>
                <div class="table-row">
                    <div class="table-row-label">Round conversions to the same number of significant figures as the input value:</div>
                    <div class="table-row-value">
                        <input type="checkbox" ng-model="roundOutput" />
                    </div>
                </div>
            </div>
        </div>

        <result-set heading="'Common Conversions'" left-column-results="commonResultsLeftColumn" right-column-results="commonResultsRightColumn"></result-set>

        <result-set heading="'Metric Conversions'" left-column-results="metricResultsLeftColumn" right-column-results="metricResultsRightColumn"></result-set>

        <result-set heading="'Non-metric Conversions'" left-column-results="nonMetricResultsLeftColumn" right-column-results="nonMetricResultsRightColumn"></result-set>
    </div>
</body>
</html>
