<h2>Settings</h2>

<h3>Rounding</h3>

<div class="inputinformation">
    <div class="table">
        <div class="table-row">
            <div class="table-row-label">Round conversions to the same number of significant figures as the input value:</div>
            <div class="table-row-value">
                <input type="checkbox" ng-model="settings.roundOutput" />
            </div>
        </div>
    </div>
</div>

<h3>Keyboard</h3>

<div class="inputinformation">
    <div class="table">
        <div class="table-row">
            <div class="table-row-label">Show the keyboard:</div>
            <div class="table-row-value">
                <input type="checkbox" ng-model="settings.showKeyboard" />
            </div>
        </div>
    </div>
</div>

<p style="margin-top:40px;"><a href="/#/">&larr; Back</a></p>