body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    font-weight: lighter;
    color: #202020;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, div, input {
    font-family: inherit;
    font-weight: inherit;
}

h1, h2 {
    font-size: 17px;
    text-align: center;
}

h1 {
    margin: 7px 0px 15px 0px;
    text-transform: uppercase;
    color: #105ecc;
}

h2 {
    margin: 15px 0px;
}

p {
    font-size: 12px;
    margin: 15px 0px;
}

.instructions {
    display: none;
}

@media (min-width:400px) {
    h1, h2 {
        font-size: 22px;
    }

    h1 {
        margin: 0px 0px 20px 0px;
    }

    h2 {
        margin: 40px 0px 20px 0px;
    }

    p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .instructions {
        display: block;
        text-align: justify;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (min-width:770px) {
    h2 {
        margin: 70px 0px 20px 0px;
    }

    .instructions {
        width: 70%;
        margin: 20px auto;
        text-align: center;
    }
}

.mainpage {
    padding: 20px;
    max-width: 1400px;
    margin: 0px auto;
}

@media (min-width:400px) {
    .mainpage {
        padding: 40px;
    }
}

@media (min-width:770px) {
    .mainpage {
        padding: 70px;
    }
}



.maininput {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    display: block;
    outline: none;
}

    .maininput:focus {
        border: 1px solid #105ecc;
    }

    .maininput::placeholder {
        color: #E0E0E0;
    }

@media (min-width:400px) {
    .maininput {
        padding: 20px;
        margin: 20px 0px;
    }
}

@media (min-width:770px) {
    .maininput {
        font-size: 70px;
        width: 70%;
        margin: 20px auto;
    }
}

.inputinformation {
    font-size: 12px;
    margin: 15px 0px;
    width: 100%;
}

@media (min-width:400px) {
    .inputinformation {
        font-size: 14px;
        margin: 20px 0px;
    }
}

@media (min-width:770px) {
    .inputinformation {
        margin: 20px auto;
        width: 70%;
    }
}



.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-row {
    display: flex;
    flex-direction: row;
    padding: 4px 0px;
}

.table-row-label {
    margin-right: 20px;
    text-align: left;
    max-width: 170px;
}

.table-row-value {
}

@media (min-width:400px) {

    .table-row-label {
        max-width: 200px;
    }
}

@media (min-width:550px) {

    .table-row-label {
        max-width: 350px;
    }
}

@media (min-width:770px) {
    .table {
        align-items: center;
    }

    .table-row {
        padding: 4px 10px;
    }

    .table-row-label, .table-row-value {
        width: 250px;
        max-width: 250px;
    }

    .table-row-label {
        text-align: right;
    }
}

@media (min-width:1200px) {
    .table-row-label, .table-row-value {
        width: 350px;
        max-width: 350px;
    }
}

.tag {
    display: inline-block;
    padding: 2px 7px;
    margin: 0px 0px 0px 4px;
    background-color: #105ecc;
    font-weight: normal;
    color: #ffffff;
    border-radius: 2px;
}

.metric {
}

.nonmetric {
}



.results {
    display: flex;
    flex-direction: column;
}

.results-leftcolumn, .results-rightcolumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

    .results-leftcolumn .result, .results-rightcolumn .result {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
    }

.result {
    background-color: #F8F8F8;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
}

    .result:hover {
        background-color: #F4F4F4;
    }

.result-text {
    margin: 0px 10px;
}

@media (min-width:400px) {
    .result {
        font-size: 14px;
    }
}

@media (min-width:770px) {
    .results {
        flex-direction: row;
    }

    .results-leftcolumn .result {
        flex-direction: row;
        justify-content: flex-start;
    }

    .results-rightcolumn .result {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .result {
        padding: 7px;
        font-size: 17px;
    }

    .result-text {
        margin: 0px 20px;
    }

    .results-leftcolumn .result-text {
        text-align: left;
    }

    .results-rightcolumn .result-text {
        text-align: right;
    }
}

@media (min-width:1200px) {
    .result-text {
        min-width: 200px;
    }
}



.copybutton {
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #105ecc;
    border: none;
    cursor: pointer;
}

    .copybutton:hover {
        background-color: #2f7ae2;
    }

.results-leftcolumn .result .copybutton, .results-rightcolumn .result .copybutton {
    margin: 0px;
}

.copybutton-text {
    display: block;
}

.copybutton-latex {
    display: none;
}

@media (min-width:400px) {
    .copybutton {
        font-size: 14px;
    }
}

@media (min-width:770px) {
    .copybutton {
        font-size: 17px;
        padding: 7px 17px;
    }

    .results-leftcolumn .result .copybutton {
        margin: 0px 4px 0px 0px;
    }

    .results-rightcolumn .result .copybutton {
        margin: 0px 0px 0px 4px;
    }
}

@media (min-width:1200px) {
    .copybutton-latex {
        display: block;
    }
}
